{% extends "profile.html" %}
{% block profile %}
    <div id="profile-info-container" class="row"><div class="col-12 profile-settings">
        <div class="row">
        <div class="col-12">
            <h3>Settings</h3>
        </div>
        </div>
    
        <div class="col-12">
            <h5>Change Password</h5>
            <form class="password-reset-form" method="POST" action="{{ url_for('users.changePass', username=session['user']) }}" onSubmit="return passwordMatchCheck(this)">
                <div class="row">
                    <div class="col-12">
                        <input class="pass-input" id="originalPassword" type="password" name="originalPassword" placeholder="Current Password" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                </div>
        
            <div class="row">
                    <div class="col-12">
                        <input class="pass-input" id="password" type="password" name="password" placeholder="New Password" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <input class="pass-input" id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirm New Password" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 m-auto">
                        <button class="btn btn-green pass-submit" type="submit">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('users.static', filename='js/changepass_script.js') }}"></script>
{% endblock %}