{% extends "base.html" %}
{% block content %}
    <div class="container update-review-container roboto">
        <button onclick="goBack()" class="back-arrow"><i class="fa fa-arrow-left"></i></button>
        {% if session.get('user') %}
            <div class="row gx-0">
                <div class="col-sm-12 col-md-8 mx-auto">
                    <h1 class="page-title">
                        Editing Details for
                        <br>
                        {{ game.title }}
                    </h1>
                </div>
                <!-- Review -->
                <div class="col-sm-12 col-md-7 mx-auto my-2 update-review-container">
                    <form  method="POST" action="{{ url_for('games.edit_game_details', game_id=game._id) }}">

                        <!-- Game Year -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input class="edit-input" name="game_year" type="text" value="{{ game.year }}">
                            </div>
                        </div>

                        <!-- Game Image -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input class="edit-input" name="game_large_image" type="url" value="{{ game.largeImage }}">
                            </div>
                        </div>

                        <!-- Game Background -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input class="edit-input" name="game_background" type="url" value="{{ game.background }}">
                            </div>
                        </div>
                        
                        <!-- Game Description -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <textarea class="edit-textarea" name="game_description" id="" cols="30"
                                    rows="10">{{ game.description }}</textarea>
                                </p>
                            </div>
                        </div>
                        
                        <!-- Review  Update Button-->
                        <div class="row">
                            <div class="col-10 mx-auto text-center">
                                <button type="submit" class="btn btn-green btn--update">Update!</button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="col-8 mx-auto text-center">
                    <h4>Last Updated By:</h4>
                    <p>{{ updated_by.username.capitalize() }} at {{ updated_by.time }}</p>
                </div>
            </div>
        {% else %}
            <div class="row gx-0">
                <div class="col-8 mx-auto">
                    <h2 class="page-title">You do not have permission to access this page</h2>
                </div>
                <div class="col-8 mx-auto text-center">
                    <i class="no-entry-sign fa fa-ban" aria-hidden="true"></i>
                </div>
            </div>
        {% endif%}
        <div>
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <h4 class="flash-message">
                                {{ message }}
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {%  endwith %}
        </div>
    </div>
{% endblock %}