{% extends 'base.html' %}

{% block content %}

    <div class="container latest-reviews-container roboto">
        <div class="row gx-0">
            <div class="col-8 mx-auto">
                <h1 class="page-title">Latest User Reviews</h1>
            </div>
            
            <div class="row mx-auto">
                {% if latest_reviews|length > 0 %}
                    {% for review in latest_reviews %}
                        {% for game in games %}
                            {% if game.title == review.game_title %}
                            <!-- Review -->
                            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto my-2">
                                <div class="review-container">
                                    <div class="row">
                                        <!-- Game Title -->
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="{{ url_for('games.game', game_id=game._id) }}" class="remove-a-link-styles review-game-title" alt="Link to {{ game.title }} game page">
                                                        <h5 class="text-center">{{ game.title }}</h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 class="review-title">{{review.review_title.capitalize() }}</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <p class="review-rating">
                                                {{ review.review_rating }}
                                            </p>
                                        </div>
                                    </div>
                                    {% if review.review_message|length > 0 %}
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="review-content">
                                                    {{ review.review_message }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <!-- Profile Image -->
                                        <div class="col-12 review-user">
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="profile-image-container">
                                                        {% for user in allUsers %}
                                                            {% if user.username|lower == review.review_by %}
                                                                <img class="profile-image" src="{{ user.profile_image }}" alt="Profile image for user: {{review.review_by}}">
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <p class="profile-name">{{ review.review_by.capitalize() }}</p>
                                                </div>
                                                <div class="col-3">
                                                    {% if review.review_by == session['user'] %}
                                                        <a class="btn btn-edit--latest-reviews" href="{{ url_for('users.edit_review', review_id=review._id) }}" alt="link to edit your review of {{ game.title }}">Edit</a>
                                                    {% elif session.user|lower == user.username|lower %}
                                                        {% if user.userType == 'admin' %}
                                                            <a class="btn btn-edit--latest-reviews" href="{{ url_for('users.edit_review', review_id=review._id) }}" alt="link to edit your review of {{ game.title }}">Edit</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            
            </div>

        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('games.static', filename='js/latest_reviews_page_script.js') }}"></script>
{% endblock %}