{% extends "add-game-base.html" %}
{% block gamequery %}

            <form action="{{ url_for('games.game_lookup') }}" method="POST">
                <div class="row">
                    <div class="col-12">
                        <input class="game-lookup-input" type="text" placeholder="Title of Game" name="game-name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-green">Search</button>
                    </div>
                </div>
            </form>

{% endblock %}