* {
    border: none;
    padding: 0;
    margin: 0;
}

/* Fonts */

.roboto {
  font-family: roboto, lato, sans-serif;
}


/* Colors */

.white {
  color: white;
}

.blue {
  color: #3232cd;
}

.light-blue {
  color: #7070cd;
}

.green {
  color: #32cd32;
}

.red {
  color: #cd3232;
}

.light-red {
  color: #cd7070;
}

.navbar-logo {
    width: 100px;
}

.navbar-bg--blue {
    background-color: #3232cd;
    height: 150px;
}

.navbar-container {
    float: right;
    position: absolute;
    right: 23px;
    top: 56px;
}

.navbar-links {
  margin: 0 auto;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:active:focus {
  color: black;
  font-weight: 800;
}

/* The side navigation menu boiler plate taken from W3c Schools*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sm-nav-toggle-container {
      float: right;
  }

  .sm-nav-toggle {
      font-size: 40px;
  }

  .sm-nav-toggle:hover,
  .sm-nav-toggle:active,
  .sm-nav-toggle:focus {
    color: rgba(255, 255, 255, 0.897);
  }

  .footer {
    background: #3232cd;
    position: absolute;
    bottom: 0;
    height: 75px;
  }

  .footer-contact-container {
    margin-top: 14px;
  }

  .footer-contact-social {
    font-size: 11px;
    text-decoration: none;
    text-align: center;
    }
  
  .footer-contact-social:hover,
  .footer-contact-social:active,
  .footer-contact-social:focus,
  .footer-contact-social:active:focus {
    color: white;
    font-weight: bolder;
  }

  .footer-contact-right {
    font-size: 11px;
    text-decoration: none;
    text-align: right;
    margin: revert;
    }
  
  .footer-contact-right:hover,
  .footer-contact-right:active,
  .footer-contact-right:focus,
  .footer-contact-right:active:focus {
    color: white;
    font-weight: bolder;
  }