@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: url('https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_400/MTc0MDE0OTk4MzEyMzk2NjY3/asteroids-by-atari-classic-video-games-reviewed.webp');
}

.hide {
  display: none;
}

.glow {
  box-shadow: 0 0 15px #01b9fe;
}

/* Fonts */

.roboto {
  font-family: Roboto, 'sans-serif';
}

.bold {
  font-weight: bolder;
}


/* Colors */

.black {
  color: black;
}

.white {
  color: white;
}

.blue {
  color: #3232cd;
}

.light-blue {
  color: #7070cd;
}

.green {
  color: #32cd32;
}

.red {
  color: #cd3232;
}

.light-red {
  color: #cd7070;
}

.gold {
  color: gold;
}

/* Buttons */

.btn-green {
  background-color: #32cd32;
  font-weight: bold;
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus,
.btn-green:active:focus {
  background-color: #39e239;
}

.btn--add-game {
  background-color: #27b3cf;
  border-color: #27b3cf;
  font-weight: bold;
}

.btn--add-game:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn--game-search {
  margin-left: 60px;
}

.btn--login-register {
  margin-top: 20px;
}

.btn-close--latest-games {
  position: absolute;
  top: 8px;
  right: 8px;
}

.btn-open {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  background: #32cd32;
}

.btn-open:hover,
btn-open:active {
  background: #7070cd;
}

.btn--update {
  margin: auto;
  width: 100%;
  background: yellow;
  border: 2px solid black;
}

.btn--update:hover,
.btn--update:active,
.btn--update:focus {
  background-color: #32cd32;
  border: 2px solid black;
}

.btn--edit {
  background-color: #ffbf00;
  color: black;
}

.btn--edit:hover,
.btn--edit:active,
.btn--edit:focus,
.btn--edit:active:focus {
  background-color: #b18605;
  color: white;
}

.btn--delete {
  background-color: red;
  color: black;
}

.btn--delete:hover,
.btn--delete:active,
.btn--delete:focus,
.btn--active:focus {
  background-color: rgb(175, 0, 0);
  color: white;
}

.btn--add-review {
  display: inline;
  background-color: #3939f3;
  color: white;
}

.btn--add-review:hover,
.btn--add-review:active,
.btn--add-review:focus,
.btn--add-review:active:focus {
  background-color: #2a2aaa;
  color: white;
}

.remove-a-link-styles {
  text-decoration: none;
  color: black;
}

.navbar-logo {
  width: 100px;
}

.navbar-bg--blue {
  background-color: #3232cd;
  height: 150px;
}

.navbar-container {
  float: right;
  position: absolute;
  right: 23px;
  top: 56px;
}

.navbar-links {
  margin: 0 auto;
}

.nav-link {
  color: white;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:active:focus {
  color: white;
  font-weight: 800;
}

/* The side navigation menu boiler plate taken from W3c Schools*/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  right: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.sm-nav-toggle-container {
  float: right;
}

.sm-nav-toggle {
  font-size: 40px;
}

.sm-nav-toggle:hover,
.sm-nav-toggle:active,
.sm-nav-toggle:focus {
  color: rgba(255, 255, 255, 0.897);
}

.footer {
  background: #3232cd;
  min-height: 75px;
  position: absolute;
  margin-top: 20px;
}

.footer-contact-container {
  margin-top: 14px;
}

.footer-contact-social {
  font-size: 11px;
  text-decoration: none;
  text-align: center;
}

.footer-contact-social:hover,
.footer-contact-social:active,
.footer-contact-social:focus,
.footer-contact-social:active:focus {
  color: white;
  font-weight: bolder;
}

.footer-contact-right {
  font-size: 11px;
  text-decoration: none;
  text-align: right;
  margin: revert;
}

.footer-contact-right:hover,
.footer-contact-right:active,
.footer-contact-right:focus,
.footer-contact-right:active:focus {
  color: white;
  font-weight: bolder;
}

.flash-message {
  text-align: center;
  margin: 10px 0 10px 0;
}

.welcome-container {
  background-color: #797979f2;
  min-height: 100px;
  width: 100%;
  margin-top: 2%;
  border-radius: 10px;
  padding: 20px 0 12px 0;
}

.page-title {
  text-align: center;
  padding: 10px;
}

.welcome-text {
  text-align: center;
}

.latest-games-container {
  background-color: #797979f2;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px 20px 35px 20px;
  position: relative;
}

.latest-games-heading {
  text-align: center;
}

.latest-reviews-container {
  min-height: 200px;
  background-color: #797979f2;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

.lg-btn-container {
  position: relative;
  height: 18px;
}

/* Review Container */

.review-container {
  width: 100%;
  min-height: 100px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #32cd3299;
}

.profile-image-container {
  width: 30px;
  height: 30px;
  border: 2px solid #3232cd;
  border-radius: 50%;
  margin: 4px 0 0 4px;
}

.profile-image {
  width: -webkit-fill-available;
  border-radius: 50%;
}

.review-game-title {
  margin: 8px;
  text-align: center;
}
.review-rating {
  text-align: center;
}

.review-content {
  padding: 10px;
}

.profile-container {
  min-height: 200px;
  background-color: #797979f2;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
}

.profile-button {
  margin: 20px auto;
}

.profile-button a {
text-decoration: none;
}

.profile-icon:hover,
.profile-icon:active {
  box-shadow: 0 0 15px #01b9fe;
}

.profile-icon {
  line-height: 50px;
  background: rgba(20,20,20,0.6);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: x-large;
  margin: auto;
}

.profile-button-desc {
  text-align: center;
  font-size: large;
  font-weight: 600;
  color: white;
}

.profile-settings {
  text-align: center;
}

.password-reset-form {
  text-align: center;
}

.pass-input {
  width: 80%;
  height: 40px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

.pass-input::placeholder {
  text-align: center;
}

.pass-submit {
  min-width: 70%;
}

.game-search {
  text-align: center;
}

.game-search input {
  width: 80%;
  height: 40px;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

.game-container-profile {
  background-color: #32cd3299;
  border-radius: 20px;
  margin: 5px auto;
  border: 3px solid black;
  padding: 10px 0;
}

.game-container-profile p {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.game-container-link {
  color: black;
}

.game-container-link:hover,
.game-container-link:active,
.game-container-link:focus,
.game-container-link:active:focus {
  box-shadow: 0 0 15px #01b9fe;
}

.add-game-container {
  margin: 10px auto;
}

.game-lookup-input {
  width: 100%;
  border-radius: 20px;
  padding: 0 5px;
  min-height: 40px;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}

.game-lookup-input::placeholder {
  color: white;
}

.game-page-container {
  background-color: #797979f2;
  min-height: 100px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  padding: 20px 20px 35px 20px;
  position: relative;
  z-index: 1;
}

.game-page-bg {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.2;
}

.game-page-img {
  max-width: 90%;
  border-radius: 10px 10px;
}

.game-page-title {

}

.game-page-description {

}

.platforms-container {
  text-align: center;
}

.game-lower-heading {
  font-weight: bold;
  font-size: large;
  margin: 0;
}

.game-platforms {
  margin: 0;
  background-color: #171717;
  border-radius: 20px;
  border: 1px solid darkgrey;
  padding: 0px 8px 0px 8px;
  color: #adadad;
  display: inline-flex;
  font-size: small;
}

.game-rating {
  margin: 0;
    background-color: #171717;
    border-radius: 20px;
    border: 1px solid darkgrey;
    padding: 0px 8px 0px 8px;
    color: #adadad;
    font-size: smaller;
    font-weight: 400;
}

.game-page-review-container {
  background-color: #797979f2;
  min-height: 100px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding: 20px 20px 35px 20px;
  position: relative;
  z-index: 1;
}

.game-page-review-heading {
  text-align: center;
}

.profile-reviews {
  text-align: center;
}

.add-review-container {
  margin: 20px auto;
  min-height: 100px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #797979f2;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.add-review-input {
  width: 100%;
  min-height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: black;
  color: white;
  padding: 0 10px;
}

.add-review-textarea {
  width: 100%;
  min-height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: black;
  color: white;
  padding: 20px 20px 10px 20px;
}

.add-review-star {
  text-align: center;
}

.your-reviews-container-block {
  margin: 10px auto 10px auto;
}

.your-review-container {
  width: 100%;
  padding: 10px 0;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #32cd3299;
}

.your-review-container button {
  margin: 27px;
}

.update-review-container {
  margin: 20px auto;
  min-height: 100px;
  border: 3px solid black;
  border-radius: 20px;
  background-color: #797979f2;
  padding: 20px 0px 20px 0px;
  position: relative;
}

.update-review-input {
  width: 100%;
  min-height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: black;
  color: white;
  padding: 0 10px;
}

.update-review-textarea {
  width: 100%;
  min-height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 0 10px 0;
  background-color: black;
  color: white;
  padding: 20px 20px 10px 20px;
}

.update-review-star {
  text-align: center;
}

.back-arrow {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 25px;
  box-shadow: none;
  border: none;
  background: #7fffd400;
}

.back-arrow:hover,
.back-arrow:active,
.back-arrow:focus,
.back-arrow:focus:active {
  color: white;
}

.no-entry-sign {
  font-size: 80px;
  color: red;
}

.all-games-search input{
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.all-games-search p {
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

.game-container {
  min-height: 100px;
  background-color: #00000080;
  border-radius: 10px;
  padding: 0;
}

.game-container:hover,
.game-container:active {
  box-shadow: 0 0 15px #01b9fe;
  transform: scale(1.1);
}

.game-image {
  width: 100%;
  min-height: 100px;
  border-radius: 10px 10px 0 0 ;
  margin-bottom: 5px;
}

.game-title {
  text-align: center;
  font-size: 76%;
  font-weight: bold;
  margin-bottom: 0;
  color: #dedede;
}

.game-year {
  text-align: center;
  font-size: 76%;
  margin-bottom: 5px;
  color: #b7b7b7;
}

@media screen and (max-width: 1199px) {
  .game-container {
    margin: 5px 15px;
  }
}

@media screen and (max-width: 991px) {
  .game-container {
    margin: 5px 11px;
  }
}

@media screen and (max-width: 767px) {
  .all-games-search button {
    margin-top: 10px;
  }
  .game-container {
    margin: 5px auto;
  }
}

@media screen and (max-width:575px) {
  .btn--edit {
    margin: 7px 0 7px 0;
    width: 80%;
  }
  .btn--delete {
    margin: 7px 0 7px 0;
    width: 80%;
  }
  .btn--add-review {
    margin: 7px 0 7px 0;
    width: 80%;
  }
}

.login-register-container {
  min-height: 200px;
  background-color: #cecece;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 20px 40px 20px;
}

.login-container {
  background-color: #ffffffa6;
  border-radius: 10px;
  min-height: 200px;
  padding: 30px 30px 15px 30px;
}

.login-input {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  text-align: center;
}

.login-register-swap {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: small;
}