{% extends "admin-base.html" %}
{% block admin %}

    {% if session.user|lower == user.username|lower %}
        {% if user.userType == 'admin' %}
        <div class="row">
            <div class="col-12 game-search">
                <div class="row">
                    <div class="col-12">
                        <h3>Search For Reviews by Game Name!</h3>
                    </div>
                </div>
                <div class="row">
                    <form action="{{ url_for('manageReviews') }}" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="game-name" placeholder="Title of Game" list="games" autocomplete="off" autofocus required>
                                <datalist id="games">
                                {% for game in gamesList %}
                                    <option>{{game.title}}</option>
                                {% endfor %}
                                </datalist>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-green">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <hr>
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                        <div class="row">
                            <section class="col-sm-12 col-md-10 your-reviews-container-block">
                                <div class="your-review-container">
                                    <div class="row">
                                        <div class="col-12 col-sm-2 col-md-2 m-auto">
                                            <a class="btn btn--edit"
                                                href="{{ url_for('edit_review', review_id=review._id) }}">Edit</a>
                                        </div>
    
                                        <div class="col-12 col-sm-2 col-md-2 m-auto">
                                            <a class="btn btn--delete"
                                                onclick="return confirm('Are you sure you want to delete {{ review.review_by }} review for {{review.game_title}}?');"
                                                href="{{ url_for('delete_review', review_id=review._id) }}">Delete</a>
                                        </div>
    
                                        <div class="col-12 col-sm-4 col-md-4 m-auto">
                                            <p class="m-0">{{ review.game_title }}</p>
                                            <p class="m-0">Review By: {{review.review_by}}</p>
                                        </div>

                                        <div class="col-12 col-sm-4 col-md-3 m-auto">
                                            <p class="review-rating m-0">{{ review.review_rating }}</p>
                                        </div>
    
                                    </div>
                                </div>
                            </section>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="row">
                    <div class="col-12 text-center mx-auto">
                        <p>No Reviews</p>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}
                 
{% block scriptsextra %}
    <script src="{{ url_for('admin.static', filename='js/admin_review_search_script.js') }}"></script>
{% endblock %}