{% extends "profile.html" %}
{% block profile %}

    {% if session.user|lower == user.username|lower %}
        {% if user.userType == 'admin' %}
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <!-- Manage Users -->
                        <div class="col-6 col-md-4 profile-button">
                            <a id="manage-users-btn" href="{{ url_for('adminUserLookUp') }}">
                                <div id="manage-users-icon" class="admin-icon">
                                    <span>
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <p class="profile-button-desc roboto">Manage Users</p>
                            </a>
                        </div>

                        <!-- Manage Games -->
                        <div class="col-6 col-md-4 profile-button">
                            <a id="manage-game-btn" href="{{ url_for('manageGames') }}">
                                <div id="manage-game-icon" class="admin-icon">
                                    <span>
                                        <i class="fas fa-gamepad"></i>
                                    </span>
                                </div>
                                <p class="profile-button-desc roboto">Manage Games</p>
                            </a>
                        </div>

                        <!-- Manage Reviews -->
                        <div class="col-6 col-md-4 profile-button">
                            <a id="manage-reviews-btn" href="{{ url_for('manageReviews') }}">
                                <div id="manage-reviews-icon" class="admin-icon">
                                    <span>
                                        <i class="fas fa-list"></i>
                                    </span>
                                </div>
                                <p class="profile-button-desc roboto">Manage Reviews</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% block admin %}
    {% endblock %}
                 
{% endblock %}

{% block scriptsextra %}
    <script src="{{ url_for('admin.static', filename='js/admin_script.js') }}"></script>
{% endblock %}