{% extends "base.html" %}
{% block content %}
    {% if session.user|lower == user.username|lower %}
        {% if user.userType == 'admin' %}
            <div class="container update-review-container roboto">
                <button onclick="goBack()" class="back-arrow"><i class="fa fa-arrow-left"></i></button>
                <div class="row gx-0">
                    <div class="col-sm-10 col-md-8 mx-auto">
                        <h1 class="page-title">
                            Editing profile of 
                            <br>
                            {{ user_to_edit.username.capitalize() }}</h1>
                    </div>
                </div>
                <div class="row">
                    <!-- User -->
                    <div class="col-sm-12 col-md-7 mx-auto my-2 update-review-container">
                        <form  method="POST" action="{{ url_for('admin.edit_user', user_id=user_to_edit._id) }}">
                            
                        <!-- Username -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input type="text" class="edit-input" name="username" autocomplete="off" value="{{ user_to_edit.username }}">
                                </p>
                            </div>
                        </div>
                        <!-- User Type -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <select type="text" class="edit-input" name="user-type" value="{{ user_to_edit.userType }}">
                                    <option value="standard">Standard</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <!-- Review  Update Button-->
                        <div class="row">
                            <div class="col-10 mx-auto text-center">
                                <button type="submit" class="btn btn-green btn--update">Update!</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}