{% extends "add-game-base.html" %}
{% block gamequery %}

            <form  method="POST" action="{{ url_for('addGame') }}">
                
                <!-- Game Title -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" name="game_title" placeholder="Game Title" autocomplete="off" value="{{ gameData.results[0].name }}" required>
                        </p>
                    </div>
                </div>

                <!-- Game Year -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="number" class="update-review-input" id="release_year" name="release_year" min="1970"  placeholder="Release Year" autocomplete="off" required>
                        </p>
                    </div>
                </div>

                <!-- Game Genre -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" list="genres" name="genre" placeholder="Genre" autocomplete="off" required>
                        </p>
                        <datalist id="genres">
                            {% for genre in genres %}
                                <option>{{genre.name.capitalize()}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                
                <!-- Game Submit Button-->
                <div class="row">
                    <div class="col-10 mx-auto text-center">
                        <button type="submit" class="btn btn-green">Submit Game!</button>
                    </div>
                </div>

            </form>
    
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/add_game_script.js') }}"></script>
{% endblock %}