{% extends "add-game-base.html" %}
{% block gamequery %}

            <form  method="POST" action="{{ url_for('addGame') }}">
                
                <!-- Game Title -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" list="games" name="game_title" value="{{ gameData.results[0].name }}" disabled required>
                        </p>
                    </div>
                </div>

                <!-- Game Year -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" name="release_year" value="{{ gameData.results[0].released }}" disabled required>
                        </p>
                    </div>
                </div>

                <!-- Game Genre -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" name="genre" value="{{ gameData.results[0].genres[0].name }}" disabled required>
                        </p>
                    </div>
                </div>
                
                <!-- Game Submit Button-->
                <div class="row">
                    <div class="col-10 mx-auto text-center">
                        <button type="submit" class="btn btn-green">Submit Game!</button>
                    </div>
                </div>

            </form>
    
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/add_game_script.js') }}"></script>
{% endblock %}