{% extends "base.html" %}
{% block content %}
    <div class="container update-review-container roboto">
        
        <!-- Add Game Container -->
        <div class="col-sm-12 col-md-5 mx-auto my-2 update-review-container">
            <form  method="POST" action="{{ url_for('addGame') }}">
                
                <!-- Game Title -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" name="game_title" placeholder="Game Title" autocomplete="off" required>
                        </p>
                    </div>
                </div>

                <!-- Game Year -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="number" class="update-review-input" id="release_year" name="release_year" min="1970"  placeholder="Release Year" autocomplete="off" required>
                        </p>
                    </div>
                </div>

                <!-- Game Genre -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <input type="text" class="update-review-input" list="genres" name="genre" placeholder="Genre" autocomplete="off" required>
                        </p>
                        <datalist id="genres">
                            {% for genre in genres %}
                                <option>{{genre.name.capitalize()}}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                
                <!-- Game Submit Button-->
                <div class="row">
                    <div class="col-10 mx-auto text-center">
                        <button type="submit" class="btn btn-green btn--green">Submit Review!</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
        
        <section>
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <h4 class="flash-message">
                                {{ message }}
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {%  endwith %}
          </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/add_game_script.js') }}"></script>
{% endblock %}