{% extends "base.html" %}
{% block content %}
    <div class="container add-review-container roboto">
        <button onclick="goBack()" class="back-arrow"><i class="fa fa-arrow-left"></i></button>

            <div class="row gx-0">
                <div class="col-8 mx-auto">
                    <h1 class="page-title">
                        Add a Review for 
                        <br>
                        {{ game.title }}</h1>
                </div>
            </div>
                <!-- Review -->
                <div class="col-sm-12 col-md-7 mx-auto my-2 add-review-container">
                    <form  method="POST" action="{{ url_for('add_review', game_id=game._id) }}">
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input name="game_title" class="hide" type="text" value="{{ game.title }}">
                            </div>
                        </div>

                        <!-- Review Rating converted to stars -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <div class="add-review-star">
                                    <i id="one" class="fa fa-star gold"></i>
                                    <i id="two" class="fa fa-star"></i>
                                    <i id="three" class="fa fa-star"></i>
                                    <i id="four" class="fa fa-star"></i>
                                    <i id="five" class="fa fa-star"></i>
                                </div>
                                <input id="rating" name="review_rating" class="hide" type="number" value="1">
                            </div>
                        </div>
                        
                        <!-- Review Message -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <input type="text" class="add-review-input" name="review_title" placeholder="Review Title" required>
                                </p>
                            </div>
                        </div>
                        <!-- Review Message -->
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <textarea class="add-review-textarea" name="review_message" id="" cols="30"
                                    rows="10" placeholder="Review"></textarea>
                                </p>
                            </div>
                        </div>
                        <!-- Review Submit Button-->
                        <div class="row">
                            <div class="col-10 mx-auto text-center">
                                <button type="submit" class="btn btn-green btn--green">Submit Review!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        
        <section>
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="row">
                            <h4 class="flash-message">
                                {{ message }}
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            {%  endwith %}
          </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/edit_review_script.js') }}"></script>
{% endblock %}