{% extends "profile.html" %}
{% block profile %}

    {% if session.user|lower == username.username|lower %}
        {% if username.userType == 'admin' %}
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <div class="col-6 col-md-4 profile-button">
                            <a id="manage-users-btn" href="">
                                <div id="manage-users-icon" class="profile-icon">
                                    <span>
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <p class="profile-button-desc roboto">Manage Users</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
                 
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin_script.js') }}"></script>
    {% block scriptsextra %}
    {% endblock %}
{% endblock %}