{% extends 'base.html' %}
{% block content %}

        <div class="container game-page-container roboto">
            <img class="game-page-bg" src="{{ game.background }}" alt="Background Art for {{game.title}}">
            <div class="row gx-0">

                <div class="col-12 d-sm-block d-md-none">
                    <h1 class="game-page-title">{{ game.title }} </h1>
                    <hr>
                </div>

                <div class="col-sm-12 col-md-6">
                    <div class="row gx-0">
                        <div class="col-12">
                            <img class="game-page-img" src="{{ game.largeImage }}" alt="Art for {{game.title}}">
                        </div>
                    </div>
                <!-- Left Column -->
                    <!-- Platforms -->
                    <div class="row gx-0">
                        <div class="col-11 platforms-container">
                            {% for platform in game.platforms %}
                                <p class="game-platforms" id="{{platform.platform.name}}">{{ platform.platform.name}} </p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Releaswed/Rating/Critic rating -->
                    <div class="row gx-0 mt-2">
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Released</p>
                            <p class="game-text-box">{{game.year}}</p>
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Game Rating</p>
                            {% if game.rating %}
                                <p class="game-text-box">{{ game.rating.name }}</p>
                            {% else %}
                                <p class="game-text-box">N/A</p>
                            {% endif %}
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Genre</p>
                            {% if game.genres %}
                                {% for genre in game.genres %}
                                    <p class="game-text-box">{{ genre.name }}</p>
                                {% endfor %}
                            {% else %}
                                <p class="game-text-box">N/A</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Purchase -->
                    <div class="row gx-0 my-2">
                        <div class="col-12 text-center">
                            <p class="game-lower-heading">Purchase From</p>
                            <div class="row">
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 1</a>
                                </div>
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 2</a>
                                </div>
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 3</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Review Button -->
                    <div class="row gx-0 mb-2">
                            {% if session.get('user') %}
                                {% if userGameReview.game_title == game.title %}
                                    <div class="col-6 text-center">
                                        <a class="btn btn-game-page btn-game-page--edit" href="{{ url_for('edit_review', review_id=userGameReview._id) }}" alt="link to edit your review of {{ game.title }}">Edit Review</a>
                                    </div>
                                    <div class="col-6 text-center">
                                        <a class="btn btn-game-page btn-game-page--edit-details" href="{{ url_for('editGame', game_id=game._id) }}" alt="link to edit the details for {{ game.title }}">Edit Game Details</a>
                                    </div>
                                {% else %}
                                <div class="col-6 text-center">
                                    <a class="btn btn-game-page btn-game-page--add" href="{{ url_for('add_review', game_id=game._id) }}" alt="link to leave a review for {{ game.title }}">Leave Review</a>
                                    </div>
                                    <div class="col-6 text-center">
                                        <a class="btn btn-game-page btn-game-page--edit-details" href="{{ url_for('editGame', game_id=game._id) }}" alt="link to edit the details for {{ game.title }}">Edit Game Details</a>
                                    </div>
                                {% endif %}
                            {% else %}
                            <div class="col-12 text-center">
                                <a class="btn btn-game-page btn-game-page--signin" href="{{ url_for('login') }}" alt="link to sign in">Sign in to Leave a Review</a>
                                </div>
                            {% endif %}
                    </div>
                </div>

            <!-- Right Column -->
                <div class="col-sm-12 col-md-6 mx-auto">
                    <!-- Title -->
                    <div class="row gx-0">
                        <div class="col-12 d-none d-md-block">
                            <h1 class="game-page-title">{{ game.title }} </h1>
                            <hr>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-12">
                            <p id="description-holder" class="hide">{{game.description}}</p>
                            <p class="game-description" id="game-description"></p>
                        </div>
                    </div>
     
                </div>
            </div>
        </div>

        <!-- Game Reviews -->
        <div class="container game-page-review-container">
            <div class="row">
                <div class="col-12 game-page-review-heading">
                    <h2>Reviews</h2>
                </div>
            </div>

            <!-- Review -->
            <div class="row mx-auto">
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                        {% if review.game_title == game.title %}
                            <div class="col-sm-12 col-md-6 col-lg-4 mx-auto my-2">
                                <div class="review-container">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 class="review-title">{{review.review_title.capitalize() }}</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <p class="review-rating">
                                                {{ review.review_rating }}
                                            </p>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="review-content">
                                                {{ review.review_message }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!-- Profile Image -->
                                        <div class="col-12 review-user">
                                            <div class="row">
                                                <div class="col-9">
                                                    <div class="profile-image-container">
                                                        <img class="profile-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile image for user: {{review.review_by}}">
                                                    </div>
                                                    <p class="profile-name">{{ review.review_by.capitalize() }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                {% endif %}
            </div>
        </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/game_page_script.js') }}"></script>
{% endblock %}