{% extends 'base.html' %}
{% block content %}

        <div class="container game-page-container roboto">
            <img class="game-page-bg" src="{{ game.background }}" alt="">
            <div class="row gx-0">
                <div class="col-6">
                    <div class="row gx-0">
                        <div class="col-12">
                            <img class="game-page-img" src="{{ game.largeImage }}" alt="Art for {{game.title}}">
                        </div>
                    </div>

                    <!-- Platforms -->
                    <div class="row gx-0">
                        <div class="col-11 platforms-container">
                            {% for platform in game.platforms %}
                                <p class="game-platforms" id="{{platform.platform.name}}">{{ platform.platform.name}} </p>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Releaswed/Rating/Critic rating -->
                    <div class="row gx-0 mt-2">
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Released</p>
                            <p class="game-text-box">{{game.year}}</p>
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Game Rating</p>
                            {% if game.rating %}
                                <p class="game-text-box">{{ game.rating }}</p>
                            {% else %}
                                <p class="game-text-box">N/A</p>
                            {% endif %}
                        </div>
                        <div class="col-4 mx-auto text-center">
                            <p class="game-lower-heading">Metacritic</p>
                            {% if game.metacritic %}
                                <p class="game-text-box">{{game.metacritic}}%</p>
                            {% else %}
                                <p class="game-text-box">N/A</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Purchase -->
                    <div class="row gx-0 my-2">
                        <div class="col-12 text-center">
                            <p class="game-lower-heading">Purchase From</p>
                            <div class="row">
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 1</a>
                                </div>
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 2</a>
                                </div>
                                <div class="col-4">
                                    <a class="remove-a-link-styles game-text-box" href="">Store 3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Review Button -->
                    <div class="row gx-0">
                        <div class="col-12">
                            {% if session.get('user') %}
                                {% if userGameReview.game_title == game.title %}
                                    <a class="btn btn-game-page btn-game-page--edit" href="{{ url_for('edit_review', review_id=userGameReview._id) }}">Edit Review</a>
                                {% else %}
                                    <a class="btn btn-game-page btn-game-page--add" href="{{ url_for('add_review', game_id=game._id) }}">Leave Review</a>
                                {% endif %}
                            {% else %}
                                <a class="btn btn-game-page btn-game-page--signin" href="{{ url_for('login') }}">Sign in to Leave a Review</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            
                <div class="col-6 mx-auto">
                    <!-- Title -->
                    <div class="row gx-0">
                        <div class="col-12">
                            <h1 class="game-page-title">{{ game.title }} </h1>
                        </div>
                    </div>
                    <!-- Description -->
                    <div class="row">
                        <div class="col-12">
                            <p id="description-holder" class="hide">{{game.description}}</p>
                            <p class="game-description" id="game-description"></p>
                        </div>
                    </div>
     
                </div>
            </div>
        </div>

        <div class="container game-page-review-container">

            <div class="row">
                <div class="col-12 game-page-review-heading">
                    <h2>Reviews</h2>
                </div>
            </div>

            <div class="row">
                {% if reviews|length > 0 %}
                    {% for review in reviews %}
                        {% if review.game_title == game.title %}

                            <div class="col-5 mx-auto my-2">
                                <div class="review-container">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="rwo gx-0">
                                                <div class="profile-image-container">
                                                    <img class="profile-image" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Profile image for user: {{review.review_by}}">
                                                </div>
                                            </div>
                                            <div class="row gx-0">
                                                <p class="profile-name">{{ review.review_by }}</p>
                                            </div>
                                        </div>
                                        <div class="offset-1 col-9">
                                            <h6 class="review-game-title">{{review.review_title.capitalize() }}</h6>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="offset-3 col-9">
                                            <p class="review-rating">
                                                {{ review.review_rating }}
                                            </p>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="review-content">
                                                {{ review.review_message }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            
            </div>
        </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/game_page_script.js') }}"></script>
{% endblock %}