{% extends 'base.html' %}

{% block content %}

    <div class="container welcome-container roboto">
        <div class="row gx-0">
            <div class="col-8 mx-auto">
                <h1 class="page-title">Welcome to Game Corner!</h1>
            </div>
            <div class="col-10 mx-auto">
                <p class="welcome-text">
                    We're just starting out in the game reviewing world and can't wait to share all our gaming opinions with you and of course get to read yours!
                    Check back soon when we're sure to have filled the site with our universal knowledge of games!
                    <br>
                    For now, please go ahead and create an account and share your opinions on those memorable (for good or bad reasons) games!
                    <br>
                    We can't wait to see everybody's reviews!
                </p>
                <div class="row">
                    <div class="col-12 mx-auto text-center">
                        <img class="logo-large" src="{{ url_for('static', filename='images/logo.png') }}" alt="Game Corner Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container latest-games-container">
        <div class="row gx-0">
            <div class="col-4 mx-auto">
                <h2 class="roboto latest-games-heading">Latest Games!</h2>
            </div>
        </div>
        <div class="row">
            {% for game in latest_games %}
                <div class="col-sm-12 col-md-2 game-container">
                    <a class="remove-a-link-styles" href="{{ url_for('games.game', game_id=game._id) }}">
                        <div class="game-image" style="background-image: url('{{ game.largeImage }}');"></div>
                        <p class="game-title"> {{ game.title }}</p>
                        <p class="game-year">{{game.year }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/index_script.js') }}"></script>
{% endblock %}