{% extends 'base.html' %}

{% block content %}

    <div class="container welcome-container roboto">
        <div class="row gx-0">
            <div class="col-8 mx-auto">
                <h1 class="page-title">Welcome to Game Corner!</h1>
            </div>
            <div class="col-10 mx-auto">
                <p class="welcome-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, debitis doloremque amet esse ratione nobis ipsa inventore odit, sequi, non fugiat animi maxime. Eum rem, tempora cumque ad enim dignissimos. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, debitis doloremque amet esse ratione nobis ipsa inventore odit, sequi, non fugiat animi maxime. Eum rem, tempora cumque ad enim dignissimos.
                </p>
            </div>
        </div>
    </div>

    <div class="container latest-games-container">
        <div class="row gx-0">
            <div class="col-4 mx-auto">
                <h2 class="roboto latest-games-heading">Latest Games!</h2>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-lg-2 col-md-4 col-sm-6 game-container">
                <a href="#">
                    <img src="/static/images/logo.png" alt="">
                    <p class="roboto black" >Game Title</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 game-container">
                <a href="#">
                    <img src="/static/images/logo.png" alt="">
                    <p class="roboto black" >Game Title</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 game-container">
                <a href="#">
                    <img src="/static/images/logo.png" alt="">
                    <p class="roboto black" >Game Title</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 game-container">
                <a href="#">
                    <img src="/static/images/logo.png" alt="">
                    <p class="roboto black" >Game Title</p>
                </a>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-6 game-container">
                <a href="#">
                    <img src="/static/images/logo.png" alt="">
                    <p class="roboto black" >Game Title</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}