{% extends 'base.html' %}

{% block content %}

    <div class="container login-register-container roboto">
        <div class="row gx-0">
            <div class="col-8 mx-auto">
                <h1 class="page-title">Register</h1>
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-sm-12 col-md-6 mx-auto login-container">
                <form method="POST" action="{{ url_for('register') }}" onSubmit="return passwordMatchCheck(this)">
                    <div class="row">
                        <input id="username" name="username" class="login-input" type="text" placeholder="Username" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                    <div class="row">
                        <input id="email" name="email" class="login-input" type="email" placeholder="Email" required>
                    </div>
                    <div class="row">
                        <input id="password" name="password" class="login-input" type="password" placeholder="Password" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                    <div class="row">
                        <input id="passwordConfirm" name="passwordConfirm" class="login-input" type="password" placeholder="Confirm Password" minlenght="5" maxlength="15" required pattern="^[a-zA-Z0-9]{5,15}$">
                    </div>
                    <!-- Image Selectino -->
                    <div class="row">
                        <select name="profile_image" id="" list="images" class="login-input">
                            <datalist id="images">
                                {% for image in profileImages %}
                                    <option value="{{ image.image }}">
                                        {{image.name.capitalize()}}
                                    </option>
                                {% endfor %}

                            </datalist>
                        </select>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-green btn--login-register">Register</button>
                    </div>
                </form>
                <p class="login-register-swap" >Already Registered? <a href="{{ url_for('login') }}">Login Here</a></p>
                <section>
                    <!-- Flash Messages -->
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="row">
                                    <h4 class="red flash-message">
                                      {{ message }}
                                    </h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {%  endwith %}
                  </section>
            </div>
        </div>
        
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/register_script.js') }}"></script>
{% endblock%}