{% extends "profile.html" %}
{% block profile %}

    <div class="row">
        <div class="col-12 game-search">
            <div class="row">
                <div class="col-12">
                    <h3>Search For A Game!</h3>
                </div>
            </div>
            <div class="row">
                <form action="{{ url_for('gameSearch') }}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="search" placeholder="Title of Game" list="games" autocomplete="off" required>
                            <datalist id="games">
                            {% for game in allgames %}
                                <option>{{game.title}}</option>
                            {% endfor %}
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-green">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            {% if games|length > 0 %}
                {% for game in games %}
                    <div class="row">
                        <div class="col-12 col-md-8 game-container-profile">
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-4 game-review-buttons">
                                    {% if reviews|length > 0 %}
                                        {% for review in reviews %}
                                            {% if review.game_title == game.title %}
                                                <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn btn--edit game-review-edit">Edit Review</a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-12 col-sm-8 col-md-8">
                                <a href="{{ url_for('game', game_id=game._id) }}" class="remove-a-link-styles game-container-link">
                                    <p>{{ game.title }}</p>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row">
                    <div class="col-8 add-game-container">
                        <a href="{{ url_for('game_lookup') }}" class="btn btn--add-game">Add New Game</a>
                    </div>
                </div>
            {% endif %}     
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/game_search_script.js') }}"></script>
{% endblock %}