{% extends "profile.html" %}
{% block profile %}

    <div class="row">
        <div class="col-12 game-search">
            <div class="row">
                <div class="col-12">
                    <h3>Search For A Game!</h3>
                </div>
            </div>
            <div class="row">
                <form action="{{ url_for('gameSearch') }}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" name="search" placeholder="Title of Game" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-green">Search</button>
                        </div>
                    </div>
                </form>
                <div>
                    {% if games|length > 0 %}
                        {% for game in games %}
                            <h1>{{ game.title }}</h1>
                        {% endfor %}
                    {% else %}
                    <h1>No Games Found</h1>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}