{% extends "lookup-game.html" %}
{% block gamequery %}

            <form  method="POST" action="{{ url_for('add_game') }}">
                <!-- Game Title -->
                <div class="row">
                    <div class="col-10 mx-auto">
                        <select class="update-review-input" list="games" name="selected-game" placeholder="Game Title" autocomplete="off" required>
                        <datalist id="games">
                            {% for game in gameData.results %}
                                <option value="{{ game.id }}">{{ game.name }}</option>
                            {% endfor %}
                          </datalist>
                        </select>
                    </div>
                </div>
                
                <!-- Game Submit Button-->
                <div class="row">
                    <div class="col-10 mx-auto text-center">
                        <button type="submit" class="btn btn-green">Select Game!</button>
                    </div>
                </div>
            </form>
    
{% endblock %}